{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

     <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{% static 'assets/img/image-16.png' %}"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                    <form method="post" action="{% url 'bptracker' %}" >
                        {% csrf_token %}
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start container section-title" data-aos="fade-up">
                            <h2 >Blood Pressure tracker</h2>

                        </div>


                        <!-- Name input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="number" name="systolic" required id="systolic" class="form-control form-control-lg"
                                   placeholder="systolic"/>
                            <label class="form-label" for="systolic">Systolic:  </label>

                        </div>

                        <!-- Amount input -->
                        <div data-mdb-input-init class="form-outline mb-3">

                            <input type="number" name="diastolic" id="diastolic" class="form-control form-control-lg"
                                   placeholder="diastolic" required/>
                            <label class="form-label" for="diastolic">Diastolic:  </label>

                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-group-sm"
                                     style="padding-left: 2.5rem; padding-right: 2.5rem;">Record</button>
                        </div>

                    </form>

                    <br><br>
    <div class="container section-title" data-aos="fade-up">
        <h2>Recent readings</h2>
      </div>
                    <ul>
                        {% for bp in bp_readings %}
                            <li>{{ bp.systolic }}/{{ bp.diastolic }}</li>
                        {% endfor %}
                    </ul>
                </div>

 {% endblock %}