{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
	<!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Donations</h2>
        <p>Buy any one of these packages to make a mum outside there happy</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Essential Care Package</h3>
              <p class="description">To provide basic maternal and newborn necessities for safe delivery and early care.</p>
              <h4>2,500<span>  Ksh</span></h4>
              <a href="{% url 'pay' %}" class="cta-btn">Donate here</a>
              <p class="text-center small">"Ensure safe deliveries for mothers in need!"</p>
              <ul>
                <li><i class="bi bi-check"></i> <span>Clean delivery kits (disinfectant, sterile gloves, gauze)</span></li>
                <li><i class="bi bi-check"></i> <span>Newborn essentials (diapers, blankets, onesies).</span></li>
                <li><i class="bi bi-check"></i> <span>Postpartum sanitary pads.</span></li>

              </ul>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item featured">
              <p class="popular">Best</p>
              <h3>Neonatal Care Package</h3>
              <p class="description">To ensure the health and well-being of newborns in their critical first month.</p>
              <h4>7,500<span>  Ksh</span></h4>
              <a href="{% url 'pay' %}" class="cta-btn">Donate here</a>
              <p class="text-center small">"Support the first 28 days of a baby’s life!"</p>
              <ul>
                <li><i class="bi bi-check"></i> <span>Baby hygiene essentials (soap, lotion, towels)</span></li>
                <li><i class="bi bi-check"></i> <span>Warm clothing and sleeping bags</span></li>
                <li><i class="bi bi-check"></i> <span>Vaccination cost subsidies</span></li>

              </ul>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Sponsor a Safe Birth</h3>
              <p class="description">To fund a safe delivery for mothers without access to healthcare facilities</p>
              <h4>30,000<span>  Ksh</span></h4>
              <a href="{% url 'pay' %}" class="cta-btn">Donate here</a>
              <p class="text-center small">"Be a part of ensuring every mother delivers safely!"</p>
              <ul>
                <li><i class="bi bi-check"></i> <span>Hospital delivery fees or midwife services.</span></li>
                <li><i class="bi bi-check"></i> <span>Transportation to a healthcare facility.</span></li>
                <li><i class="bi bi-check"></i> <span>Emergency supplies for complicated births</span></li>
              </ul>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->
{% endblock %}