{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Trackers</h2>
        <p>Let's monitor your health</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-5">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              <i class="bi bi-activity icon"></i>
              <div>
                <h3>Blood Pressure tracker</h3>
                <p>Last recorded BP: {{ bp_reading }} </p>
                <a href="{% url 'bptracker' %}" class="read-more stretched-link">Track now <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Item -->


          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <i class="bi bi-easel icon"></i>
              <div>
                <h3>Water Tracker</h3>
                <p>Today's Water Intake: {{ water_intake }} L</p>
                <a href="{% url 'watertracker' %}" class="read-more stretched-link">Track here <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Item --


        </div>

      </div>

    </section></Services Section -->

{% endblock %}