{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

<section id="hero" class="hero section">
      <div class="hero-bg">
        <img src="{% static 'assets/img/Image-14.jpg' %}" alt="">
      </div>
      <div class="container section-title">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 data-aos="fade-up" style="color: #1a6b8e;"> Emergency <span style="color: #104257;"> Support</span></h1>

            <p><strong>If you need immediate help, please call:</strong></p>
            <li><strong> Hotline:</strong> +254 722 000 000</li>

      </div>

    </section><!-- /p>

{% endblock %}